.dietPlan_container {
  margin-top: 100px;
  width: 90vw;
}
.breakFast {
  position: relative;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.breakFast h1,.lunch h1,.dinner h1{
    position: absolute;
    top: -60px;
    left: 0;
}

.lunch {
  position: relative;
  display: flex;
  flex-wrap: wrap;

}

.dinner {
  position: relative;
  display: flex;
  flex-wrap: wrap;

}
