.Form_container {
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  padding: 20px;
  width: 90vw;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  transform: translate(-50%,-50%);
  top: 50%;
}

.header_container i {
  font-size: 34px;
  color: #00ADB5;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
}
.header_container {
  text-align: center;
}

.header_container span {
  color: rgba(128, 128, 128, 0.603);
  letter-spacing: 0.05px;
}

form {
  position: relative;
  margin: 20px 0 0;
  padding: 20px 0;
}

.form_control {
  position: relative;
  margin: 55px 0;
}

.form_control input {
  margin-left: 10px;
  width: 90%;
  border: 0;
  border-bottom: 2px solid gray;
  height: 40px;
  font-size: 16px;
}

.form_control input:focus {
  outline: none;
  color: #00ADB5;
  border-bottom: 2px solid #00ADB5;
}

.form_control label {
  position: absolute;
  color: gray;
  transform: translateY(-15px);
  width: 100%;
}

.form_control label .err{
  position: absolute;
  color: red;
  top:43px;
  left: 10px;
  font-size: 13px;
}


.form_control input:focus label {
  color: #00ADB5;
}

.form_control i {
  position: absolute;
  transform: translateX(-20px);
  font-size: 20px;
}
.forgetpass a {
  font-size: 14px;
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: #00ADB5;
  font-weight: bold;
}

.button:active {
  transform: scale(0.98);
}

.button:focus{
    outline: none;
}
.button i {
  color: white;
  font-size: 16px;
  transform: translateY(5px);
}

.login_now{
  position: absolute;
  right: 20px;
  font-size: 14px;
}